body {
    background-color: rgb(0, 129, 129);
}
h1 {
color: white;
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hidden-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 69px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hidden-button:hover {
    opacity: 1;
}