body {
    background-color: rgb(0, 129, 129);
}
h1 {
    color: rgb(255, 0, 255);
}
h2 {
    color: white;
    font-family: sans-serif;
}
p1 {
    color: white;
    font-family: sans-serif;
    font-size: 7px;
}